.navbar
  %ul.nav
    %li= link_to(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

- model_class = FuelBudget
.page-header
  %h1= t 'menu.annual_budget', :default => model_class.model_name.human.pluralize

.row-fluid
  .block
    .block-heading.tool_bar
      .col-sm-6
        = form_for :search, :url => annual_budget_fuel_budgets_path, :role => "form", class: "form-inline" do |f|
          .form-group
            #datepicker.input-daterange.input-group
              .input-group-addon Select a date in a Year
              = f.text_field :issue_date, :name => "search[start_date]" , type: "text", class: "form-control", 'data-behaviour' => 'datepicker_std', placeholder: @start_from,  value: (@params_start_date  = params[:search].try(:[], :start_date))
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit", :style => "height:34px;"}
                  %i.glyphicon.glyphicon-search

%BR
%BR
- @fuel_budgets.group_by(&:unit).each do |depot, fuel_budgets|
 
  %table.table.table-bordered
    %thead
      %tr
        %th= depot.name
        %td{colspan: "5", style: "font-size:0.8em; padding-top:25px;"}
          Petrol :
          = FuelBudget.where(id: fuel_budgets.map(&:id)).petrol.sum(:amount)
          litres
          &nbsp; | &nbsp;
          Diesel :
          = FuelBudget.where(id: fuel_budgets.map(&:id)).diesel.sum(:amount)
          litres
          &nbsp; | &nbsp;
          AVTUR :
          = FuelBudget.where(id: fuel_budgets.map(&:id)).avtur.sum(:amount)
          litres
          &nbsp; | &nbsp;
          AVCAT :
          = FuelBudget.where(id: fuel_budgets.map(&:id)).avcat.sum(:amount)
          litres
      
    %tbody  
      - fuel_budgets.group_by(&:fuel_type).each do |fuel_type, fuel_budgets2|
        %tr
          %th{colspan: "6"}=fuel_type.shortname
        %tr
          %th= t 'fuel_budgets.code'
          %th= t 'fuel_budgets.year_starts_on'
          %th= t 'fuel_budgets.amount'
          %th= t 'fuel_budgets.unit_type_id'
          %th
        - fuel_budgets2.each do |fuel_budget|
          %tr
            %td= fuel_budget.code
            %td= fuel_budget.year_starts_on.strftime('%d-%m-%Y, %H:%M')
            %td= fuel_budget.amount
            %td= fuel_budget.unit_type.description
