- model_class = FuelBudget
.page-header
  %h1= t 'menu.budget_usage_chart_report', :default => model_class.model_name.human.pluralize

.row
  %h3 Diesel
  .col-md-7
    /= bar_chart @diesel_budget.each.map{|x, y| [x.name, y]}
    /= bar_chart @diesel_usage
    /= bar_chart [{name: "Budget", data: @diesel_budget.each.map{|x, y| [x.name, y]}}, {name: "Usage", data: @diesel_usage}]    
    = bar_chart [{name: "Budget", data: @diesel_budget}, {name: "Usage", data: @diesel_usage}]
   
.row
  .col-md-5.col-md-offset-1
    %h5 Diesel Budget Start Date
    %table.table.table-bordered.table-condensed
      - FuelBudget.all.group_by(&:unit).each do |unit, fuel_budgets|
        %tr
        - fuel_budgets.group_by(&:fuel_type).each do |fuel_type, fbudgets|
          - if fuel_type.name=='DIESEL'
            %td=unit.name
            %td=fbudgets.last.try(:year_starts_on).try(:strftime, '%d %b %Y')     

.row
  %h3 Petrol
  .col-md-7
    /= bar_chart [{name: "Budget", data: @petrol_budget.each.map{|x, y| [x.name, y]}}, {name: "Usage", data: @petrol_usage}]
    = bar_chart [{name: "Budget", data: @petrol_budget}, {name: "Usage", data: @petrol_usage}]
.row
  .col-md-5.col-md-offset-1
    %h5 Petrol Budget Start Date
    %table.table.table-bordered.table-condensed
      - FuelBudget.all.group_by(&:unit).each do |unit, fuel_budgets|
        %tr
        - fuel_budgets.group_by(&:fuel_type).each do |fuel_type, fbudgets|
          - if fuel_type.name=='PETROL'
            %td=unit.name
            %td=fbudgets.last.try(:year_starts_on).try(:strftime, '%d %b %Y')     
              
.row
  %h3 AVTUR
  .col-md-7
    /= bar_chart @avtur_budget.each.map{|x, y| [x.name, y]}
    /= bar_chart @avtur_usage.each.map{|x, y| [x.name, y]}
    /= bar_chart [{name: "Budget", data: @avtur_budget.each.map{|x, y| [x.name, y]}}, {name: "Usage", data: @avtur_usage.each.map{|x, y| [x.name, y]}}]
    = bar_chart [{name: "Budget", data: @avtur_budget}, {name: "Usage", data: @avtur_usage}]

.row
  .col-md-5.col-md-offset-1
    %h5 AVTUR Budget Start Date
    %table.table.table-bordered.table-condensed
      - FuelBudget.all.group_by(&:unit).each do |unit, fuel_budgets|
        %tr
        - fuel_budgets.group_by(&:fuel_type).each do |fuel_type, fbudgets|
          - if fuel_type.name=='AVTUR'
            %td=unit.name
            %td=fbudgets.last.try(:year_starts_on).try(:strftime, '%d %b %Y')     
              
.row
  %h3 AVCAT
  .col-md-7
    /= bar_chart [{name: "Budget", data: @avcat_budget.each.map{|x, y| [x.name, y]}}, {name: "Usage", data: @avcat_usage.each.map{|x, y| [x.name, y]}}]
    = bar_chart [{name: "Budget", data: @avcat_budget}, {name: "Usage", data: @avcat_usage}]
  
.row
  .col-md-5.col-md-offset-1
    %h5 AVCAT Budget Start Date
    %table.table.table-bordered.table-condensed
      - FuelBudget.all.group_by(&:unit).each do |unit, fuel_budgets|
        %tr
        - fuel_budgets.group_by(&:fuel_type).each do |fuel_type, fbudgets|
          - if fuel_type.name=='AVCAT'
            %td=unit.name
            %td=fbudgets.last.try(:year_starts_on).try(:strftime, '%d %b %Y')     