.navbar
  %ul.nav
    %li= link_to(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

- provide(:title, 'UnitFuel')
- model_class = UnitFuel
.page-header
  %h1= t 'menu.annual_usage_report', :default => model_class.model_name.human

.row-fluid
  .block
    .block-heading.tool_bar
      .col-sm-6
        = form_for :search, :url => annual_usage_report_unit_fuels_path, :role => "form", class: "form-inline" do |f|
          .form-group
            #datepicker.input-daterange.input-group
              .input-group-addon Select a date in a Year
              = f.text_field :issue_date, :name => "search[start_date]" , type: "text", class: "form-control", 'data-behaviour' => 'datepicker_std', placeholder: @start_from,  value: (@params_start_date  = params[:search].try(:[], :start_date))
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit", :style => "height:34px;"}
                  %i.glyphicon.glyphicon-search
  
%BR
%BR
%table.table.table-condensed.table-hover
  - @unit_fuels.group_by(&:unit_id).each do |unit_id, unit_fuels, add_fuels|
    - unit_fuel_ids=unit_fuels.map(&:id)
    %thead
      %tr
        %th{colspan: "12"}
          = (t 'fuel_tanks.unit_id').upcase+ " : "
          = Unit.find(unit_id).name
      %tr
        %td{colspan: "12", style: "font-size:0.8em; padding-top:25px; text-align: left;"}
          Petrol :
          = UnitFuel.where('unit_id =?', unit_id ).sum(:p_vehicle) + UnitFuel.where('unit_id =?', unit_id ).sum(:p_boat) + UnitFuel.where('unit_id =?', unit_id ).sum(:p_misctool)
          litres
          &nbsp; | &nbsp;
          Diesel :
          = UnitFuel.where('unit_id =?', unit_id ).sum(:d_vessel) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_vehicle) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_misctool) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_boat)
          litres
          &nbsp; | &nbsp;
          AVCAT :
          = AddFuel.where(unit_fuel_id: unit_fuel_ids, fuel_type: FuelType.where(name: 'AVCAT')).sum(:quantity)
          &nbsp; | &nbsp;
          AVTUR :
          = AddFuel.where(unit_fuel_id: unit_fuel_ids,  fuel_type: FuelType.where(name: 'AVTUR')).sum(:quantity)
          &nbsp; | &nbsp;
          Lubricant :
          = AddFuel.where(unit_fuel_id: unit_fuel_ids,  fuel_type: FuelType.where(name: 'PELINCIR')).sum(:quantity)
          &nbsp; | &nbsp;
          Grease :
          = AddFuel.where(unit_fuel_id: unit_fuel_ids,  fuel_type: FuelType.where(name: 'GRIS')).sum(:quantity)
          &nbsp; | &nbsp;
          Others :
          = AddFuel.where(unit_fuel_id: unit_fuel_ids).where.not(fuel_type: FuelType.where(name: ['AVTUR', 'AVCAT', 'PELINCIR', 'GRIS'])).sum(:quantity)
          &nbsp; | &nbsp;
          =t 'report.external_supplied_pd2'
          = ExternalSupplied.where(unit_fuel_id: unit_fuel_ids, fuel_type: FuelType.where(name: 'PETROL')).sum(:quantity)
          \/
          = ExternalSupplied.where(unit_fuel_id: unit_fuel_ids, fuel_type: FuelType.where(name: 'DIESEL')).sum(:quantity)
          litres
          &nbsp; | &nbsp;
          =t 'report.external_issued_pd2'
          = ExternalIssued.where(unit_fuel_id: unit_fuel_ids, fuel_type: FuelType.where(name: 'PETROL')).sum(:quantity)
          \/
          = ExternalIssued.where(unit_fuel_id: unit_fuel_ids, fuel_type: FuelType.where(name: 'DIESEL')).sum(:quantity)
          litres
          
      %tr
        %th= t 'unit_fuels.issue_date'
        %th Petrol
        %th Diesel
        %th AVCAT
        %th AVTUR
        %th=t 'report.lubricant'
        %th=t 'report.grease'
        %th=t 'report.others'
        %th.center{colspan: "2"}=t 'report.external_supplied_pd'
        %th.center{colspan: "2"}=t 'report.external_issued_pd'
    - for unit_fuel, add_fuel in unit_fuels
      %tbody
        %tr
          %td= check_kin {l(unit_fuel.issue_date)} 
          %td= UnitFuel.petrol_usage(unit_fuel)
          %td= UnitFuel.diesel_usage(unit_fuel)
          %td= unit_fuel.add_fuels.where(fuel_type: FuelType.where(name: 'AVCAT')).sum(:quantity)
          %td= unit_fuel.add_fuels.where(fuel_type: FuelType.where(name: 'AVTUR')).sum(:quantity)
          %td= unit_fuel.add_fuels.where(fuel_type: FuelType.where(name: 'PELINCIR')).sum(:quantity)
          %td= unit_fuel.add_fuels.where(fuel_type: FuelType.where(name: 'GRIS')).sum(:quantity)
          %td= unit_fuel.add_fuels.where.not(fuel_type: FuelType.where(name: ['AVTUR', 'AVCAT', 'PELINCIR', 'GRIS'])).sum(:quantity)
          %td.center= unit_fuel.external_supplieds.where(fuel_type_id: FuelType.where(name: 'PETROL').first.id).sum(:quantity)
          %td.center= unit_fuel.external_supplieds.where(fuel_type_id: FuelType.where(name: 'DIESEL').first.id).sum(:quantity)
          %td.center= unit_fuel.external_issueds.where(fuel_type_id: FuelType.where(name: 'PETROL').first.id).sum(:quantity)
          %td.center= unit_fuel.external_issueds.where(fuel_type_id: FuelType.where(name: 'DIESEL').first.id).sum(:quantity)
    %tr
      %td{colspan: "12"} &nbsp;