.navbar
  %ul.nav
    %li= link_to(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

- provide(:title, 'UnitFuel')
- model_class = UnitFuel
.page-header
  %h1= t 'menu.annual_usage_report', :default => model_class.model_name.human

.row-fluid
  .block
    .block-heading.tool_bar
      .col-sm-6
        = form_for :search, :url => annual_usage_report_unit_fuels_path, :role => "form", class: "form-inline" do |f|
          .form-group
            #datepicker.input-daterange.input-group
              .input-group-addon Select a date in a Year
              = f.text_field :issue_date, :name => "search[start_date]" , type: "text", class: "form-control", 'data-behaviour' => 'datepicker_std', placeholder: @start_from,  value: (@params_start_date  = params[:search].try(:[], :start_date))
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit", :style => "height:34px;"}
                  %i.glyphicon.glyphicon-search
  
%BR
%BR
%table.table.table-condensed.table-hover
  - @unit_fuels.group_by(&:unit_id).each do |unit_id, unit_fuels, add_fuels|
    - unit_fuel_ids=unit_fuels.map(&:id)
    %thead
      %tr
        %th{colspan: "9"}
          = (t 'fuel_tanks.unit_id').upcase+ " : "
          = Unit.find(unit_id).name
      %tr
        %td{colspan: "9", style: "font-size:0.8em; padding-top:25px; text-align: left;"}
          Petrol :
          = UnitFuel.where('unit_id =?', unit_id ).sum(:p_vehicle) + UnitFuel.where('unit_id =?', unit_id ).sum(:p_boat) + UnitFuel.where('unit_id =?', unit_id ).sum(:p_misctool)
          litres
          &nbsp; | &nbsp;
          Diesel :
          = UnitFuel.where('unit_id =?', unit_id ).sum(:d_vessel) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_vehicle) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_misctool) + UnitFuel.where('unit_id =?', unit_id ).sum(:d_boat)
          litres
          &nbsp; | &nbsp;
          AVCAT :
          = AddFuel.where('unit_fuel_id IN (?) AND created_at >=? AND created_at <=? AND fuel_type_id=?', unit_fuel_ids, @sdate, @edate, FuelType.where(name: 'AVCAT').first.id).sum(:quantity)
          &nbsp; | &nbsp;
          AVTUR :
          = AddFuel.where('unit_fuel_id IN (?) AND created_at >=? AND created_at <=? AND fuel_type_id=?', unit_fuel_ids, @sdate, @edate, FuelType.where(name: 'AVTUR').first.id).sum(:quantity)
          &nbsp; | &nbsp;
          Other Fuel Type :
          = AddFuel.where('unit_fuel_id IN (?) AND created_at >=? AND created_at <=?', unit_fuel_ids, @sdate, @edate).where.not(fuel_type_id: FuelType.where(name: ['AVTUR', 'AVCAT']).pluck(:id)).sum(:quantity)
          &nbsp; | &nbsp;
          =t 'report.external_supplied_pd2'
          = ExternalSupplied.where('unit_fuel_id IN (?) AND created_at >=? AND created_at <=?', unit_fuel_ids, @sdate, @edate).where(fuel_type_id: FuelType.where(name: 'PETROL').first.id).sum(:quantity)
          \/
          = ExternalSupplied.where('unit_fuel_id IN (?) AND created_at >=? AND created_at <=?', unit_fuel_ids, @sdate, @edate).where(fuel_type_id: FuelType.where(name: 'DIESEL').first.id).sum(:quantity)
          litres
          &nbsp; | &nbsp;
          =t 'report.external_issued_pd2'
          = ExternalIssued.where('unit_fuel_id IN (?) AND created_at >=? AND created_at <=?', unit_fuel_ids, @sdate, @edate).where(fuel_type_id: FuelType.where(name: 'PETROL').first.id).sum(:quantity)
          \/
          = ExternalIssued.where('unit_fuel_id IN (?) AND created_at >=? AND created_at <=?', unit_fuel_ids, @sdate, @edate).where(fuel_type_id: FuelType.where(name: 'DIESEL').first.id).sum(:quantity)
          litres
          
      %tr
        %th= t 'unit_fuels.issue_date'
        %th= t 'unit_fuels.petrol_usage'
        %th= t 'unit_fuels.diesel_usage'
        %th AVCAT
        %th AVTUR
        %th.center{colspan: "2"}=t 'report.external_supplied_pd'
        %th.center{colspan: "2"}=t 'report.external_issued_pd'
    - for unit_fuel, add_fuel in unit_fuels
      %tbody
        %tr
          %td= check_kin {l(unit_fuel.issue_date)} 
          %td= UnitFuel.petrol_usage(unit_fuel)
          %td= UnitFuel.diesel_usage(unit_fuel)
          %td= unit_fuel.add_fuels.where(fuel_type_id: FuelType.where(name: 'AVCAT').first.id).sum(:quantity)
          %td= unit_fuel.add_fuels.where(fuel_type_id: FuelType.where(name: 'AVTUR').first.id).sum(:quantity)
          %td.center= unit_fuel.external_supplieds.where(fuel_type_id: FuelType.where(name: 'PETROL').first.id).sum(:quantity)
          %td.center= unit_fuel.external_supplieds.where(fuel_type_id: FuelType.where(name: 'DIESEL').first.id).sum(:quantity)
          %td.center= unit_fuel.external_issueds.where(fuel_type_id: FuelType.where(name: 'PETROL').first.id).sum(:quantity)
          %td.center= unit_fuel.external_issueds.where(fuel_type_id: FuelType.where(name: 'DIESEL').first.id).sum(:quantity)
    %tr
      %td{colspan: "9"} &nbsp;