- provide(:title, 'Fuel Transaction')
- model_class = FuelTransaction
.page-header
  %h1 
    Fuel
    = @fuel_transaction.transaction_type
%p#notice= notice
%dl.dl-horizontal
  %dt Document Code
  %dd= @fuel_transaction.document_code
%dl.dl-horizontal
  %dt Amount
  %dd
    = @fuel_transaction.amount
    = @fuel_transaction.fuel_unit_type.try(:short_name)
%dl.dl-horizontal
  %dt Fuel Type
  %dd= @fuel_transaction.fuel_type.try(:shortname)
%dl.dl-horizontal
  %dt Fuel Tank
  %dd=@fuel_transaction.fuel_tank.try(:fuel_tank_details)
- if @fuel_transaction.transaction_type=="Usage"
  %dl.dl-horizontal
    %dt= @fuel_transaction.is_vehicle? ? "Vehicle" : "Vessel"
    %dd= @fuel_transaction.is_vehicle? ? @fuel_transaction.vehicle.reg_no : @fuel_transaction.vessel.unit.name
%dl.dl-horizontal
  %dt Data
  %dd= @fuel_transaction.data

.form-actions
  .btn.btn-default= link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), fuel_transactions_path
  - if can? :update, :fuel_transactions
    /HACK 
    - if (current_user.roles && current_user.roles[:user_roles][:administration]=="1") || Unit.is_depot.pluck(:id).include?(current_user.staff.unit_id)
      .btn.btn-default= link_to content_tag(:i, "", class: "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_fuel_transaction_path(@fuel_transaction)
  - if can? :delete, :fuel_transactions
    /HACK 
    - if (current_user.roles && current_user.roles[:user_roles][:administration]=="1") || Unit.is_depot.pluck(:id).include?(current_user.staff.unit_id)
      = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
        fuel_transaction_path(@fuel_transaction),                                                                                                    |
        :method => 'delete',                                                                                                           |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
        :class => 'btn btn-danger'                                                                                                     |
