- provide(:title, 'Unit Type')
- model_class = UnitType
.page-header
  %h1= t 'unit_types.title', :default => model_class.model_name.human.pluralize

.row
  .col-md-1
    .btn-group-vertical{"aria-label" => "sideBar", :role => "group"}
      - permitted_to? :create, :fuel_types do
        .btn.btn-default= link_to content_tag(:i, fa_icon("asterisk", text: (t 'actions.new'))), new_unit_type_path, id: "add_new_type", remote: true
  .col-md-10.index_main
    %table.table.table-condensed.table-hover#unit_type_list{:style => "width:60%;"}
      %thead
        %tr
          %th= t 'unit_types.shortname'
          %th= t 'unit_types.description'
          %th
      %tbody
        %tr#unit_type_form(style="display:none;")
          = render :partial => 'form'
        - @unit_types.each do |unit_type|
          %tr{:id => "tr_#{unit_type.id}"}
            %td= unit_type.short_name
            %td= unit_type.description
            %td
              - permitted_to? :manage, :fuel_types do
                - if unit_type.valid_for_removal==true
                  = link_to (fa_icon "trash-o"), unit_type, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
                - else
                  *
    - permitted_to? :manage, :fuel_types do
      * Removal of record is prohibited as unit type are still in use (Tank, Fuel Limit, Fuel Budget, Fuel Transaction
      \- In / Out, Other Fuel
      \- Unit, External Supplieds, External Issueds, Fuel Issued, Fuel Supplied or Storage Tank Balance)
