- provide(:title, 'Fuel Limit Details')
- model_class = FuelLimit
.page-header
  %h1 Fuel Limit
%p#notice= notice
%dl.dl-horizontal
  %dt Code
  %dd= @fuel_limit.code
%dl.dl-horizontal
  %dt Unit
  %dd= @fuel_limit.unit.name
%dl.dl-horizontal
  %dt Limit Amount
  %dd
    = @fuel_limit.limit_amount
    = @fuel_limit.limit_unit_type.short_name
%dl.dl-horizontal
  %dt Duration
  %dd= @fuel_limit.duration.blank? ? " " : @fuel_limit.duration.to_s+" days"
%dl.dl-horizontal
  %dt Fuel Type
  %dd= @fuel_limit.fuel_type.try(:shortname)
%dl.dl-horizontal
  %dt Fuel Unit Type
  %dd= @fuel_limit.fuel_unit_type.try(:short_name)
%dl.dl-horizontal
  %dt Emails
  %dd= @fuel_limit.emails

.form-actions
  .btn.btn-default= link_to content_tag(:i, "", class: "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), fuel_limits_path
  - permitted_to? :update, :fuel_limits do
    .btn.btn-default= link_to content_tag(:i, "", class: "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), edit_fuel_limit_path(@fuel_limit)
  - permitted_to? :delete, :fuel_limits do
    = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
      fuel_limit_path(@fuel_limit),                                                                                                    |
      :method => 'delete',                                                                                                           |
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
      :class => 'btn btn-danger'                                                                                                     |

/ - budget=FuelBudget.where(unit_id: @fuel_limit.unit_id)
/ - budget_start_date=budget.order(year_starts_on: :desc).last.year_starts_on
/ = budget_start_date.strftime('%d-%m-%Y') if budget.count > 0
/ %br
/ Total days difference
/ = days_diff = (Date.today-budget_start_date.to_date).to_i
/ %br
/ Days num (of limit)
/ = days_no = days_diff %@fuel_limit.duration
/ = limit_set = days_diff/@fuel_limit.duration
/ 
/ - if days_no == 0 && days_diff > 0
/   %br
/   limit start
/   - if limit_set==0
/     = limitstart=Date.today-days_diff
/   - else
/     = limitstart=Date.today-(days_diff*limit_set)
/   
/   - fuel_issued_within_limit=FuelIssued.joins(:depot_fuel).where('depot_fuels.unit_id=?', @fuel_limit.unit_id).where('depot_fuels.issue_date >=? and depot_fuels. issue_date <=?', limitstart, Date.today)
/   %br
/   - if @fuel_limit.fuel_type.name=='DIESEL'
/     %b Diesel 
/   - elsif @fuel_limit.fuel_type.name=='PETROL'
/     %b Petrol 
/   %br
/   Usage :
/   - fuel_issueds=fuel_issued_within_limit.where(fuel_type: @fuel_limit.fuel_type)
/   = usage= fuel_issueds.sum(:quantity)
/   = unittype= fuel_issueds.first.try(:unit_type).try(:description)
/   - if fuel_issueds.first.unit_type==@fuel_limit.limit_unit_type 
/     - if usage > @fuel_limit.limit_amount
/       %br
/       Surplus :
/       = usage - @fuel_limit.limit_amount
/       = @fuel_limit.limit_unit_type.description
