- provide(:title, 'Unit')
- model_class = Unit
.page-header
  - if @depot == 1 || @depot == '1'
    %h1= t 'units.list2', :default => model_class.model_name.human.pluralize
  - else
    %h1= t 'units.list3', :default => model_class.model_name.human.pluralize

.row
  .col-md-2
    .btn-group-vertical{"aria-label" => "sideBar", :role => "group"}
      - permitted_to? :create, :units do
        - unless @depot == 1 || @depot == '1'
          .btn.btn-default= link_to content_tag(:i, fa_icon("truck", text: (t 'actions.new'))), new_unit_path
      .btn.btn-default= link_to content_tag(:i, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      .btn.btn-default= link_to content_tag(:i, fa_icon("print", text: (t 'actions.print'))), "#", class: 'bogus'

  .col-md-10.index_main
    .row.searchit{style: "display:none;"}
      = search_form_for @search, class: "form-inline" do |f|
        .field
          = f.label :name_cont, "Depot Contains:"
          = f.text_field :name_cont, class: "input-medium search-query"
          = hidden_field_tag :id, params[:id], :value => @depot
          = f.submit "Search", class: "btn btn-warning"


    .span8offset4.tree
      = nested_groups(@units.arrange(:order => :combo_code))
      - nested_groups(@units.arrange(:order => :ancestry))

      %BR
        - if @depot == 1 || @depot == '1'
          = t 'units.remark_create'
