//- provide(:title, 'Fuel Tank')
- model_class = FuelTank
.page-header
  %h1= t 'fuel_tanks.title2', :default => model_class.model_name.human.pluralize

.row.searchit{style: "display:none;"}
  .span9offset1.center
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.label :unit_id_cont, "Depot Contains:"
        = f.text_field :unit_name_cont, class: "input-medium search-query"
        = f.label :locations_cont, "Fuel Tank Contains:"
        = f.text_field :locations_cont, class: "input-medium search-query"
        = f.label :fuel_type_name_cont, "Fuel Type Contains:"
        = f.text_field :fuel_type_name_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"
      %br

.btn-group{"aria-label" => "sidebar", :role => "group", style: "float:right;"}
  - if can? :manage, :fuel_tanks
    .btn.btn-default= link_to content_tag(:i, fa_icon("asterisk", text: (t 'actions.new'))), new_fuel_tank_path
  .btn.btn-default= link_to content_tag(:i, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
  .btn.btn-default= link_to(fa_icon("print", text: (t 'actions.print')), "javascript:print()")


%table.table.table-condensed.table-hover
  - @fuel_tanks.group_by(&:unit).each do |unit, fuel_tanks|
    %thead
      %tr
        %th= unit.name
        %td{colspan: "4", style: "font-size:0.8em; padding-top:25px;"}
          Petrol :
          = check_kin {number_with_precision(((fuel_tanks.select {|p| p.fuel_type_id == 1 rescue false }).map(&:capacity).inject(:+)).to_f, :precision => 0)}
          litres
          &nbsp; | &nbsp
          Diesel :
          = check_kin {number_with_precision(((fuel_tanks.select {|p| p.fuel_type_id == 2 rescue false }).map(&:capacity).inject(:+)).to_f, :precision => 0)}
          litres
          &nbsp; | &nbsp
          AVTUR :
          = check_kin {number_with_precision(((fuel_tanks.select {|p| p.fuel_type_id == 5 rescue false }).map(&:capacity).inject(:+)).to_f, :precision => 0)}
          litres
          &nbsp; | &nbsp
          AVCAT :
          = check_kin {number_with_precision(((fuel_tanks.select {|p| p.fuel_type_id == FuelType.where(name: "AVCAT").first.id rescue false }).map(&:capacity).inject(:+)).to_f, :precision => 0)}
          litres
      %tr
        //%th=t 'fuel_tanks.unit_id'
        %th=t 'fuel_tanks.locations'
        %th=t 'fuel_types.fuel_type_id'
        %th.centre{colspan: "2"}=t 'fuel_tanks.capacity'
        %th
    - for fuel_tank in fuel_tanks
      %tbody
        %tr
          %td{style: "padding-left:20px;"}= fuel_tank.locations
          %td= fuel_tank.fuel_type.try(:shortname)
          %td.right= number_with_precision(fuel_tank.capacity, :precision => 0)
          %td= fuel_tank.unittype.try(:description)
          = render :partial => 'action_menu', :locals => { :fuel_tank => fuel_tank }
