.navbar
  %ul.nav
    %li= link_to(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

- model_class = FuelTank
.page-header
  %h1= t 'menu.tank_capacity_report', :default => model_class.model_name.human.pluralize

.row
  %h3 Diesel
  .col-md-7
    = bar_chart @diesels.each.map{|row| [row.name, row.capacity] }
  .col-md-5
    = pie_chart @diesels.each.map{|row| [row.name, row.capacity] }
  //=  column_chart diesel.eac.each.map{|row| [row.name, row.amount] }h.map{|row| [((Unit.where(id: row.unit_id).first.name) rescue "Unlisted"), row.capacity] unless row.capacity ==0 }
  //= column_chart diesel.group(:unit_id).sum(:capacity)
.row
  %h3 Petrol
  .col-md-7
    = bar_chart @petrol.each.map{|x, y| [x.name, y]}
  .col-md-5
    = pie_chart @petrol.each.map{|x, y| [x.name, y]}

.row
  %h3 AVTUR
  .col-md-7
    = bar_chart @avtur.each.map{|x, y| [x.name, y]}
  .col-md-5
    = pie_chart @avtur.each.map{|x, y| [x.name, y]}

.row

%h2= t 'report.tank_capacity'
%table.table.table-bordered
  %thead
    %tr
      %th= t 'fuel_tanks.unit_id'
      %th= t 'fuel_tanks.locations'
      %th= t 'fuel_tanks.capacity'
      %th= t 'fuel_types.fuel_type_id'
      %th= t 'fuel_tanks.maximum'


%table.table.table-bordered
  - @fuel_tanks.group_by(&:unit).each do |unit, fuel_tanks|
    %thead
      %tr
        %th
          = unit.name
          = unit.id
        %td{colspan: "4", style: "font-size:0.8em; padding-top:25px;"}
          Petrol :
          = check_kin {number_with_precision(((fuel_tanks.select {|p| p.fuel_type_id == 1 rescue false }).map(&:capacity).inject(:+)).to_f, :precision => 0)}
          litres
          &nbsp; | &nbsp
          Diesel :
          = check_kin {number_with_precision(((fuel_tanks.select {|p| p.fuel_type_id == 2 rescue false }).map(&:capacity).inject(:+)).to_f, :precision => 0)}
          litres
          &nbsp; | &nbsp
          AVTUR :
          = check_kin {number_with_precision(((fuel_tanks.select {|p| p.fuel_type_id == 5 rescue false }).map(&:capacity).inject(:+)).to_f, :precision => 0)}
          litres
      %tr
        //%th=t 'fuel_tanks.unit_id'
        %th=t 'fuel_tanks.locations'
        %th=t 'fuel_types.fuel_type_id'
        %th.centre{colspan: "2"}=t 'fuel_tanks.capacity'
        %th
    - for fuel_tank in fuel_tanks
      %tbody
        %tr
          %td{style: "padding-left:20px;"}= fuel_tank.locations
          %td= fuel_tank.fuel_type.try(:shortname)
          %td.right= number_with_precision(fuel_tank.capacity, :precision => 0)
          %td= fuel_tank.unit_type.try(:description)
